<div id="profile_name" class="focus-in-expand"><%= @user.fname %> <%= @user.lname%></div><br>
<strong>Email: </strong><%= @user.email%>
<strong>Age: </strong><%= @user.age %><br>
<strong>User ID: </strong><%= @user.id %>
<%= link_to "Delete User", user_path(@user), method: :delete %>
