<h2><%=@post.title%> </h2>
<p class="captions">posted <%= distance_of_time_in_words(@post.created_at, Time.now) %> ago by <span><%= link_to "#{User.find(@post.user_id).fname} #{User.find(@post.user_id).lname}", user_path(@post.user_id) %></span></p>


<p id="post_content"><%=@post.content%></p>

<h2>Comments</h2>
<% @comments.each do |comment| %>
<div class='comment_div'><p><%=comment.content%></p><br>
<p class="captions">commented <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago by <span><%= link_to "#{User.find(comment.user_id).fname} #{User.find(comment.user_id).lname}", user_path(comment.user_id) %></span></p>
<%= link_to "Delete", comment_path(comment), method: :delete %>
</div>
<% end %>


<%= form_for ([@post,@post.comments.build]) do |f| %>
<%= f.label :content, "Comment" %>
<%= f.text_area :content %>
<%= f.submit %>
<% end %>

<!-- distance_of_time_in_words(Time.now, TIme.now + 15.seconds) -->
