<h2><%=@post.title%> </h2>

<p><%=@post.content%></p>

<h2>Comments</h2>
<% @comments.each do |comment| %>
<div class='comment_div'><p><%=comment.content%></p>
<%= link_to "#{User.find(comment.user_id).fname} #{User.find(comment.user_id).lname}", user_path(comment.user_id) %>
</div>
<% end %>

<%= form_for ([@post,@post.comments.build]) do |f| %>
<%= f.label :content %>
<%= f.text_area :content %>
<%= f.submit %>
<% end %>
